.header {
    width: 100%;
    height: auto;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.ulClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.liClass {
    margin: 15px;
    list-style-type: none;
    font-size: 20px;
}