.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.languages {
    color: #2c1670;
}

.textLanguages {
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textHref {
    margin-top: 50px;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.href {
    margin: 15px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #4020a1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.href:hover {
    color: #8c6fe3;
    font-size: 21px;
}