.container {
    order: -1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 200px;
}

.name {
    font-size: 25px;
    color: #134511;
}