.container {
    grid-area: user;
    order: -1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 120px;
}

.name {
    font-size: 20px;
}