.container {
    grid-area: user;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 250px;
}

.name {
    font-size: 25px;
    color: #134511;
}